/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 .card {
    position: relative;
    margin-top: 20px;
    padding: .7em 2em 1em;
    min-width: 255px;
    max-width: 100%;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    background: #fff;
}